<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="../../public/logo192.png" alt="JDwebdev">
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="links header__links">
      <ul>
        <li><a href="mailto:"></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </header>

  <!-- I make the world brighter and more comfortable -->
  <!-- Sometimes a crazy idea can make something special.

Cory Barlog -->

<!-- Do something. If it doesn't work, do something else. No idea is too crazy.

Jim Hightower -->
<!-- If you can't be persuasive to get people to believe your crazy idea, you can just go ahead and build it.

Jim McKelvey -->

<!-- I think everything starts with an idea. No matter how crazy it is, you should always try to bring it to life.

Ann Makosinski -->
</body>
</html>